$primary-color:white;

.logoBox{
    height: 100%;
    width: 40%;
    display: flex;
}

.nav{
    height: 10vh;
    width: 100%;
    background-color:$primary-color;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo{
    padding: 0%;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.6rem;
    padding-bottom: 1%;
}

.navBox{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.0rem;
    font-weight:500;
    cursor: pointer;
    height: 100%;
}


.loginContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100%;
    margin-right: 4%;
}

.loginBox{
    height: 60%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:500;
    cursor: pointer;
}

.registerBox{
    height: 60%;
    width: 50%;
    border: 1.6px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    font-weight:500;
    cursor: pointer;
}



